<%- include('partials/header', { title, user: locals.user, layoutVariant: locals.layoutVariant || 'public' }) %>
  <div class="page-shell">
    <% if (typeof bodyFile !== 'undefined' && bodyFile) { %>
      <%- include(bodyFile) %>
    <% } else if (typeof body !== 'undefined') { %>
      <%- body %>
    <% } %>
  </div>
<%- include('partials/footer') %>
