<% if (messages.error && messages.error.length > 0) { %>
  <div class="notice-wrapper">
    <section class="notice notice--error" role="alert">
      <p class="notice__title">We hit a snag:</p>
      <ul class="notice__list">
        <% messages.error.forEach(msg => { %>
          <li><%= msg %></li>
        <% }) %>
      </ul>
    </section>
  </div>
<% } %>

<% if (messages.success && messages.success.length > 0) { %>
  <div class="notice-wrapper">
    <section class="notice notice--success" role="status">
      <p class="notice__title">Success!</p>
      <ul class="notice__list">
        <% messages.success.forEach(msg => { %>
          <li><%= msg %></li>
        <% }) %>
      </ul>
    </section>
  </div>
<% } %>

<% if (messages.debug && messages.debug.length > 0) { %>
  <div class="notice-wrapper">
    <section class="notice notice--info" role="region" aria-label="Debug information" style="white-space:pre-wrap;">
      <p class="notice__title">Debug info (temporary)</p>
      <% messages.debug.forEach(msg => { %>
        <pre style="margin:0; overflow:auto; max-height:200px;"><%= msg %></pre>
      <% }) %>
    </section>
  </div>
<% } %>
