<div id="<%= id %>" class="modal" aria-hidden="true">
  <div class="modal-content">
    <div class="modal-header">
      <h3 id="<%= id %>-title"><%= title %></h3>
      <button class="close-btn" data-close="#<%= id %>">&times;</button>
    </div>
    <div class="modal-body">
